{{!-- <div class="add_to_chat"> --}}
   {{{ button }}} 
   {{{ modal }}}
   {{!-- {{{  madal_search_user  }}} --}}
    {{#each login}}
      <div class="login_delete" >
         {{{ this }}} 
         {{!-- {{{ button2 }}} --}}
      </div>
   {{/each}}
{{!-- </div> --}}
