{{{comeback_nav}}}
<div class="userSettings_container">
    {{{avatar}}}
    <h3>{{first_name}}</h3>
    <div class="user_settings_conteiner ">
        {{{user_setting_email_label}}}
        {{{user_setting_email_input}}}
    </div>
    <div class="user_settings_conteiner ">
        {{{user_setting_login_label}}}
        {{{user_setting_login_input}}}
    </div>
    <div class="user_settings_conteiner ">
        {{{user_setting_name_label}}}
        {{{user_setting_name_input}}}
    </div>
    <div class="user_settings_conteiner ">
        {{{user_setting_surname_label}}}
        {{{user_setting_surname_input}}}
    </div>
    <div class="user_settings_conteiner ">
        {{{user_setting_name_inchat_label}}}
        {{{user_setting_name_inchat_input}}}
    </div>
    <div class="user_settings_conteiner ">
        {{{user_setting_phone_label}}}
        {{{user_setting_phone_input}}}
    </div>
    {{{link_change_data}}}
    {{{link_change_pass}}}
    {{{link_logout}}}
</div>

