{{{comeback_nav}}}
<div class="userSettings_container">
    {{{avatar}}}
    <h3>{{first_name}}</h3>
    {{{user_setting_component_email}}}
    {{{user_setting_component_login}}}
    {{{user_setting_component_name}}}
    {{{user_setting_component_surname}}}
    {{{user_setting_component_name_inchat}}}
    {{{user_setting_component_phone}}}
    {{{link_change_data}}}
    {{{link_change_pass}}}
    {{{link_logout}}}
</div>

