<div><img src="{{AvatarUrl}}" alt="avatar"></div>
<div  class="content">
    <p class="chat_name">{{{chat_name}}}</p>
    <p class="last_message">{{{last_message}}}</p>
</div>
<div>
    <div class="time">{{{time}}}</div>
    <div class="sum_new_messages">{{{new_messages}}}</div>
</div>

