{{!-- {{#each chat}} --}}
{{!-- <div><img src="{{this.avatarUrl}}" alt="avatar"></div>
<div  class="content">
    <p class="chat_name">{{{this.chat_name}}}</p>
    <p class="last_message">{{{this.last_message}}}</p>
</div>
<div>
    <div class="time">{{{this.time}}}</div>
    <div class="sum_new_messages">{{{this.new_messages}}}</div>
</div> --}}
{{!-- {{/each}} --}}

{{#each chat}}
<div class="chat">
    {{#if this.avatar}}
        <div><img src="{{this.avatar}}" alt="avatar"></div>
    {{else}} 
        <div class="chat_avatar"><img src="{{this.avatarUrl}}" alt="avatar"></div>
    {{/if}}
    <div  class="content" id="{{this.id}}">
        <p class="chat_name">{{{this.title}}}</p>
       {{#if this.last_message}}
        <p class="last_message">{{{this.last_message}}}</p>
        {{else}} 
        <p class="last_message">нет сообщений</p>
        {{/if}}
    </div>
    <div>
            <div class="time"></div>
            <div class="sum_new_messages">{{{this.unread_count}}}</div>
        </div> 
    
 
</div>
{{/each}} 

