{{#each chat}}
<div class="chat">
    {{#if this.avatar}}
    {{!-- <div class="chat_avatar">
        {{{ input }}}
    </div> --}}
        <div><img src="https://ya-praktikum.tech/api/v2/resources{{this.avatar}}" alt="avatar"></div>
    {{else}} 
      {{!-- <div class="chat_avatar"> --}}
         {{!-- <input type="file"> --}}
        {{!-- {{{ input }}} --}}
      {{!-- </div> --}}
        <div class="chat_avatar"><img src="{{this.avatarUrl}}" alt="avatar"></div>
    {{/if}}
    <div  class="content" id="{{this.id}}">
        <p class="chat_name">{{{this.title}}}</p>
       {{#if this.last_message}}
        <p class="last_message">{{{this.last_message.content}}}</p>
        {{else}} 
        <p class="last_message">нет сообщений</p>
        {{/if}}
    </div>
     {{#if this.last_message}}
    <div>
        <div class="time"></div>
        <div class="sum_new_messages">{{{this.unread_count}}}</div>
    </div> 
    {{else}} 
        <div></div>
    {{/if}}    
</div>
{{/each}} 


