{{{comeback_nav}}}
<div class="userSettings_container">
  <form  action="#" method="post" id="change_data_form"> 
    {{{avatar}}}
      <div class="user_settings_conteiner ">
        {{{user_setting_email_change_label}}}
        {{{user_setting_email_change_input}}}
    </div>
    <div class="user_settings_conteiner ">
        {{{user_setting_login_change_label}}}
        {{{user_setting_login_change_input}}}
    </div>
    <div class="user_settings_conteiner ">
        {{{user_setting_name_change_label}}}
        {{{user_setting_name_change_input}}}
    </div>
    <div class="user_settings_conteiner ">
        {{{user_setting_surname_change_label}}}
        {{{user_setting_surname_change_input}}}
    </div>
    <div class="user_settings_conteiner ">
        {{{user_setting_name_inchat_change_label}}}
        {{{user_setting_name_inchat_change_input}}}
    </div>
    <div class="user_settings_conteiner ">
        {{{user_setting_phone_change_label}}}
        {{{user_setting_phone_change_input}}}
    </div>
    {{{button_save}}}
  </form>
</div>

