<div class="settings"> 
  {{{comeback_nav}}}
  <div class="userSettings_container">
    {{{avatar}}}
    {{{user_setting_component_email}}}
    {{{user_setting_component_login}}}
    {{{user_setting_component_name}}}
    {{{user_setting_component_surname}}}
    {{{user_setting_component_name_inchat}}}
    {{{user_setting_component_phone}}}
    {{{button}}}
  </div>
</div>
