<form action="#" method="post" id="form_signin">
	<h1>Регистрация</h1>
	{{{ input_email_label }}}
	{{{ input_email }}}
	{{{ input_login_label }}}
	{{{ input_login }}}
	{{{ input_name_label }}}
	{{{ input_name }}}
	{{{ input_surname_label }}}
	{{{ input_surname }}}
	{{{ input_tel_label }}}
	{{{ input_tel }}}
	{{{ input_password_label }}}
	{{{ input_password }}}
	{{{ button_sign_in }}}
	{{{ link_log_in }}}
</form>
