<div class="login_form_conteiner"> 
	<form action="#" method="post" id="form_signin">
		<h1>Регистрация</h1>
		{{{ comeback_icon }}}
		{{{ input1 }}}
		{{{ input2 }}}
		{{{ input3 }}}
		{{{ input4 }}}
		{{{ input5 }}}
		{{{ input6 }}}
		{{{ button }}}
		{{{ link }}}
    </form>
</div>
