<div class="user_settings_conteiner"> 
   <label for="{{ input_name }}"> {{lable}} </label>
   <input class="user_settings" type="{{ input_type }}" name ="{{ input_name }}" id="{{ input_id }}" value="{{input_value}}" {{state}}> 
</div>
   