<div id="add_delete_user"> 
    {{{ add_user }}}
    {{{ delete_user }}}
</div>
<div id="incoming_message"> <p> {{{incoming_message}}}</p>  </div>
<div id="outgoing_message"><p> {{{outgoing_message}}} </p> </div>
{{{message_footer}}}
