<div id="add_delete_user"> 
    {{{ add_user }}}
    {{{ delete_user }}}
    {{{ link_login}}}
</div>
 {{#if chat_title}}
 <div> <h3 class="chat_title"> {{{chat_title}}} </h3></div>
{{else}} 
<div></div> 
{{/if}}
<div id="incoming_message">
    {{#if incoming_message}}
     {{#each incoming_message}}
     <p> {{{incoming_message}}}</p> 
      {{/each}}
    {{else}} 
    <div></div> 
    {{/if}}
</div>
<div id="outgoing_message">
    {{#if outgoing_message}}
    <p> {{{outgoing_message}}} </p> 
    {{else}} 
    <div></div> 
    {{/if}}
</div>
{{{message_footer}}}
