<div id="add_delete_user"> 
    {{{ add_user }}}
    {{{ delete_user }}}
</div>
 {{#if chat_title}}
 <div> <h3 class="chat_title"> {{{chat_title}}} </h3></div>
{{else}} 
<div></div> 
{{/if}}
<div id="incoming_message">
    {{#if messages}}
     {{#each messages}}
     <p> {{this}}</p> 
      {{/each}}
    {{else}} 
    <div></div> 
    {{/if}}
</div>
{{{message_footer}}}
