<div class="settings"> 
  {{{comeback_nav}}}
  <div class="userSettings_container">
    <form action="#" method="post" id="change_pass_form">
      {{{avatar}}}
      {{{change_pass_component_old_pass}}}
      {{{change_pass_component_new_pass}}}
      {{{change_pass_component_new_pass_repeat}}}
      {{{button_save}}}
    </form>
  </div>
</div>
