<div class="settings"> 
  {{{comeback_nav}}}
  <div class="userSettings_container">
    <form action="#" method="post" id="change_pass_form">
      {{{avatar}}}
      <div class="user_settings_conteiner ">
        {{{change_pass_old_pass_label}}}
        {{{change_pass_old_pass_input}}}
      </div>
      <div class="user_settings_conteiner ">
        {{{change_pass_new_pass_label}}}
        {{{change_pass_new_pass_input}}}
      </div>
      <div class="user_settings_conteiner ">
        {{{change_pass_new_pass_repeat_label}}}
        {{{change_pass_new_pass_repeat_input}}}
      </div>
      {{{button_save}}}
    </form>
  </div>
</div>
